/* Start Variables */
:root{
    --mini-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;

}
/* End Variables */

    /* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Work Sans", sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
    /* Small */
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
    /* Medium */
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
    /* Large */
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}
    /* End Global Rules */
    /* Start Components */
    .special-heading{
        color: #ebeced;
        margin: 0;
        padding-top: 20px;
        font-size: 100px;
        font-weight: 800;
        text-align: center;
        letter-spacing: -3px;
    }
    .special-heading + p{
        text-align: center;
        margin: -30px 0 0;
        font-size: 20px;
        color: #797979;
    }

    @media (max-width: 767px) {
        .special-heading{
            font-size: 60px;
        }
        .special-heading + p{
            margin-top: -20px;
        }
    }
    /* End Components */
    /* Start Header */
.header{
    padding: 20px;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container .logo{
    width: 60px;
}

.header .links {
    position: relative;
}

.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span{
    height: 2px;
    background-color: #333;
    margin-bottom: 5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.header .links .icon span:first-child{
    width: 100%;
}

.header .links .icon span:nth-child(2){
    width: 60%;
}

.header .links .icon span:last-child{
    width: 100%;
}

.header .links:hover .icon span:nth-child(2){
    width: 100%;
}

.header .links ul{
    list-style: none;
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
    position: absolute;
    top: calc(100% + 15px);
    right: 0;
    min-width: 200px;
    display: none;
    z-index: 1;
}

.header .links:hover ul{
    display: block;
}

.header .links ul::after{
    content: "";
    position: absolute;
    top: -20px;
    right: 5px;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #f6f6f6 transparent;
}

.header .links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.header .links ul li:not(:last-child) a{
    border-bottom: 1px #ddd solid;
}

.header .links ul li:hover a{
    padding-left: 25px;
}
/* End Header */

/* Start Landing Section */
.landing {
    background-image: url(../images/blak.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 320px;
    max-width: 100%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}

.landing .intro-text h1{
    margin: 0;
    color: var(--mini-color);
    font-weight: bold;
}

.landing .intro-text p{
    font-size: 20px;
    line-height: 1.8;
}
/* End Landing Section */
/* Start Features */
.features{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 20px;
}

.features .feat{
    text-align: center;
    padding: 20px;
}

.features .feat i{
    color: var(--mini-color);
}

.features .feat h3{
    font-weight: 800;
    margin: 30px 0;
}

.features .feat p{
    color: #777;
    font-size: 17px;
    line-height: 1.6;
}
/* End Features */
/* Start Services */
.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .services-section{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 30px;
    margin-top: 100px;
}

.services .services-section .serv{
    display: flex;
    margin-bottom: 40px;

}

@media(max-width: 767px){
    .services .services-section .serv{
    flex-direction: column;
    text-align: center;
    }
}

.services .services-section .serv i{
    color: var(--mini-color);
    flex-basis: 60px;
}

.services .services-section .serv .text{
    flex: 1;
}

.services .services-section .serv p{
    font-weight: 300;
    line-height: 1.6;
    color: #444;
}

.services .services-section .serv h3{
    margin: 0 0 20px;
    /* font-weight: 800; */
}

.services .services-section .image{
    position: relative;
    text-align: center;
}

.services .services-section .image::before{
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 100px);
    background-color: #2c4755;
    right: 0;
    top: -50px;
    z-index: -1;
}

@media (max-width: 1199px){
    .services .services-section .image{
        display: none;
    }
}

.services .services-section .image img {
    width: 260px;
}
/* End Services */

/* Start potrfolio */
.potrfolio{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.potrfolio .portfolio-section{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 30px;
    margin-top: 100px;
}

.potrfolio .portfolio-section .card{
    background-color: white;

}

.potrfolio .portfolio-section .card img{
    max-width: 100%;
}

.potrfolio .portfolio-section .card .info{
    padding: 20px;
}

.potrfolio .portfolio-section .card h3{
    margin: 0;
}

.potrfolio .portfolio-section .card p{
    line-height: 1.6;
    color: #777;
    margin-bottom: 0;
}

/* End potrfolio */
/* Start About */
.about{
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}

.about .about-section{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: space-between;
}

@media (max-width: 991px){
    .about .about-section{
        flex-direction: column;
        text-align: center;
    }
}

.about .about-section .image{
    position: relative;
    width: 250px;
    height: 375px;
}

@media (max-width: 991px){
    .about .about-section .image{
        margin: 0 auto 50px;
    }
}

.about .about-section .image::before{
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 80px);
    background-color: #ebeced;
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about .about-section .image::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: solid 80px var(--mini-color);
    border-bottom: solid 80px var(--mini-color);
    top: -40px;
    right: -150px;
    z-index: -1;
}

@media (max-width: 991px){
    .about .about-section .image::before,
    .about .about-section .image::after{
        display: none;
    }
}

.about .about-section .image img{
    max-width: 100%;
}

.about .about-section .text{
    flex-basis: calc(100% - 500px);
}

.about .about-section p:first-of-type{
    line-height: 2;
    font-weight: bold;
    margin-bottom: 50px;
}

.about .about-section hr{
    display: inline-block;
    width: 50%;
    border-color: var(--mini-color);
}

.about .about-section p:last-of-type{
    line-height: 2;
    color: #444;
}
/* End About */
/* Start contact */
.contact{
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding));
    background-color: var(--section-background);
}

.contact .info{
    text-align: center;
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding));
}

.contact .info .lable{
    font-weight: 800;
    font-size: 30px;
    letter-spacing: -2px;
    color: var(--secondary-color);
    margin-bottom: 15px;
}


.contact .info a{
    display: block;
    text-decoration: none;
    font-weight: 800;
    font-size: 30px;
    color: var(--mini-color);
}


.contact .info .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 17px;
}

.contact .info .social i{
    color: #777;
    margin-left: 10px;
}

@media(max-width: 767px){
    .contact .info .lable,
    .contact .info a{
        font-size: 25px
    }
}

/* End contact */
/* Start Footer */
.footer{
    background-color: var(--secondary-color);
    padding: 30px 10px;
    text-align: center;
    color: white;
    font-size: 18px;
}
.footer span{
    color: var(--mini-color);
    font-weight: bold;
}
/* End Footer */